@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


:root {
    --text01: #ff9640;
    --text02: #cc5200;
    --gradientA01: #3b3333;
    --gradientA02: #1a1a1a;
    --gradientB01: #494b55;
    --gradientB02: #353535;
    --shadow01: rgba(250, 92, 0, 0.452);
    --shadow02: rgba(0, 0, 0, 0.3);
    --highlight01: rgba(250, 92, 0, 0.452);
    --highlight02: rgba(255, 205, 148, 0.2);

    --corA: #1E4585;
    --corB: #1e9dad;
    --corC: #4c4e50;
    --corD: #515756;
    --corE: #4c7d96;
    --corF: #5274ac;
}

/* :root {
    --corA: #1E4585;
    --corB: #5982B0;
    --corC: #B8CADE;
    --corD: #D8E4E2;
    --corE: #B2B8BB;
    --corF: #5274ac;
} */

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(120deg,var(--gradientA01), var(--gradientA02));

    font-family: 'Open Sans', sans-serif;

}

#container{
    margin: auto;
    margin-top: 10%;
    border-radius: 30px;
    padding-bottom: 1px;
    width: 50vmin;
    display: block;
    text-align: center;
    background-image: linear-gradient(120deg,var(--gradientB01), var(--gradientB02));
    box-shadow: 5px 5px 20px var(--shadow01),
    -5px -5px 20px var(--highlight01);
}

.header{
    position: relative;
    padding-top: 15px;
}

p{  
    color: var(--text01);
    text-align: left;
    font-size: 1.8vmin;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 0px 0px 10px;
}

span{
    text-transform: none;
}

h1{
    font-family: 'Lobster', cursive;

    display: inline;
    font-size: 6vmin;
    padding-top: 30px;
    padding-bottom: 0;
    background: -webkit-linear-gradient(var(--text01), var(--text02));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{  
    color: var(--text01);
    font-size: 2.5vmin;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
    padding: 0px 0px 0px 00px;
    text-shadow: 2px 2px 5px var(--gradientA02);
}

h3{  
    color: var(--text01);
    font-size: 2vmin;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    text-shadow: 0px 0px 5px var(--gradientA02);
}

.div-ext{
    background-color: transparent;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
}

.div-input{
    background-color: transparent;
    border-radius: 30px;
    margin: 10px;
    position:relative;
    height: 6vmin;
}

.div-in{
    box-shadow: 2px 2px 2px var(--shadow02) inset,
    -2px -2px 2px var(--highlight02) inset;
}

.div-out{
    box-shadow: -2px -2px 2px var(--shadow02) inset,
    2px 2px 2px var(--highlight02) inset;
}

input{
    background-color: transparent;
    border: none;
    appearance: none;
    color: var(--text02);
    text-align: center;
    font-size: 3vmin;
    text-transform: uppercase;
    margin-top: 1.2vmin;
    width: 15vmin;
}

.btn-stl{
    margin-top: .5vmin;
    background-color: rgba(255, 238, 217, 0.164);
    border: none;
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    position: absolute;
    box-shadow: -2px -2px 2px var(--shadow02) inset,
    2px 2px 2px var(--highlight02) inset;
}

.btn-txt{
    color: var(--text01);
    font-weight: 100;
    font-size: 2.5vmin;
    text-transform: uppercase;
}

.btn-stl:focus, .btn-calc:focus{
    outline:0;
}

.btn-stl:active, .btn-calc:active{

    box-shadow: 2px 2px 2px var(--shadow02) inset,
    -2px -2px 2px var(--highlight02) inset;
}

.btn-add{
    right: 2%;
    vertical-align:middle
}

.btn-sub{
    position: absolute;
    right: 15%;
}

.btn-install{
    margin: 20px 5px 5px 10px;
    padding: 0%;
    width: 3vmin;
    height: 3vmin;
    background-color: transparent;
}

.btn-calc{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    border: none;

    box-shadow: -2px -2px 2px var(--shadow02) inset,
    2px 2px 2px var(--highlight02) inset;
}

#print{
    display: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 5px;
    margin: 20px 0px;
    width: 90%;
}

.ico-down{
    width: 2vmin;
}

@media screen and (max-width:650px){

#container{
    width: 90vmin;
    
}

p{  
    font-size: 3vmin;
    font-weight: 400;
}

h1{
    font-size: 10vmin;
    padding: 10% 0% 0% 0%;
}

h2{  
    font-size: 5vmin;
}

h3{  
    font-size: 4vmin;
    font-weight: 500;
}

.div-input{
    height: 10vmin;
}



input{
    font-size: 6vmin;
    margin-top: 1.2vmin;
}

.btn-stl{
    margin-top: .8vmin;
    width: 8vmin;
    height: 8vmin;
}

.btn-txt{
    font-size: 5vmin;
}

.btn-install{
    margin: 20px 5px 5px 15px;
    padding: 0%;
    width: 5vmin;
    height: 5vmin;
}

.ico-down{
    width: 4vmin;
}
}